flows.json
[{"id":"7a1506c0.b89c88","type":"tab","label":"Customer Care Bot","disabled":false,"info":""},{"id":"285c6598.db182a","type":"watson-conversation-v1","z":"7a1506c0.b89c88","name":"","workspaceid":"3eb71a7f-9a16-4f5a-9d27-c198ea6878cd","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/382a63ed-1fb4-4f2b-8435-48e5b24ee222","timeout":"","optout-learning":false,"x":360,"y":200,"wires":[["e25de6b5.57c958","fbd29941.66efc8"]]},{"id":"fbd29941.66efc8","type":"debug","z":"7a1506c0.b89c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":80,"wires":[]},{"id":"e25de6b5.57c958","type":"function","z":"7a1506c0.b89c88","name":"","func":"msg.payload=msg.payload.output.text+\"\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["30e4e8b5.a95c28"]]},{"id":"d288bf96.3d107","type":"function","z":"7a1506c0.b89c88","name":"","func":"msg.payload=msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":200,"wires":[["285c6598.db182a","92a5d5d8.b90208"]]},{"id":"30e4e8b5.a95c28","type":"ui_text","z":"7a1506c0.b89c88","group":"76e61dbb.60f7c4","order":5,"width":"5","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":630,"y":300,"wires":[]},{"id":"7d2aa5e3.37e68c","type":"ui_form","z":"7a1506c0.b89c88","name":"","label":"","group":"76e61dbb.60f7c4","order":1,"width":0,"height":0,"options":[{"label":"Enter your query","value":"input","type":"text","required":false,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":300,"wires":[["d288bf96.3d107"]]},{"id":"92a5d5d8.b90208","type":"ui_text","z":"7a1506c0.b89c88","group":"76e61dbb.60f7c4","order":3,"width":"0","height":"0","name":"","label":"You:","format":"{{msg.payload}}","layout":"row-right","x":310,"y":60,"wires":[]},{"id":"76e61dbb.60f7c4","type":"ui_group","z":"","name":"Welcome to the Chatbot","tab":"6cb4558a.4f0fcc","order":1,"disp":true,"width":"6","collapse":false},{"id":"6cb4558a.4f0fcc","type":"ui_tab","z":"","name":"Customer Care","icon":"dashboard","disabled":false,"hidden":false}]